body {
    font-family: 'Roboto', sans-serif;
  }
  

.home {
    text-align: center;
    padding: 2rem;
  }
  
  .home-header {
    background-color: #f8f9fa;
    padding: 2rem 0;
    margin-bottom: 2rem;
  }
  
  .home-content {
    display: flex;
    justify-content: space-around;
  }
  
  .home-card {
    background-color: #e9ecef;
    padding: 1rem;
    border-radius: 8px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .home-card h2 {
    margin-bottom: 1rem;
  }
  
  .home-card p {
    color: #6c757d;
  }
  